<h1>
    Welcome on Pokéquipe !
</h1>
<img src=
    "../../assets/50402560_364721814106746_1365009450699587584_n.png"
    height="400" width="450"
    /><br>

<p>Always wanted to be the best trainer in the world ?</p>
<p>Always wanted to catch them all ?</p>
<p>Always wanted to know everything about Pokemons ?</p>
<p>Well you are at the right place.</p>
<p>On Pokéquipe you can find all the informations about your favorite pokemons.</p>
<p>You also can create your own team (Well not right now but soon... i hope... Maybe...)</p>